@model InsuranceSys.Models.CustmanViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>客戶資料明細</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CustomerViewModel.CustCountry)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CustomerViewModel.CustCountry)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CustomerViewModel.ROCID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CustomerViewModel.ROCID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CustomerViewModel.PASSPOART_CODE)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CustomerViewModel.PASSPOART_CODE)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CustomerViewModel.PASSPOART_NO)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CustomerViewModel.PASSPOART_NO)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CustomerViewModel.Sex)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CustomerViewModel.Sex)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CustomerViewModel.CustNameLocal)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CustomerViewModel.CustNameLocal)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CustomerViewModel.CustNameEn)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CustomerViewModel.CustNameEn)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CustomerDetailViewModel.PhoneHomeAreaCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CustomerDetailViewModel.PhoneHomeAreaCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CustomerDetailViewModel.PhoneHome)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CustomerDetailViewModel.PhoneHome)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CustomerDetailViewModel.PhoneHomeExt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CustomerDetailViewModel.PhoneHomeExt)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CustomerDetailViewModel.PhoneCorpAreaCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CustomerDetailViewModel.PhoneCorpAreaCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CustomerDetailViewModel.PhoneCorp)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CustomerDetailViewModel.PhoneCorp)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CustomerDetailViewModel.PhoneCorpExt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CustomerDetailViewModel.PhoneCorpExt)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CustomerDetailViewModel.PhoneMobileATW)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CustomerDetailViewModel.PhoneMobileATW)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CustomerDetailViewModel.AddressPermanent)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CustomerDetailViewModel.AddressPermanent)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CustomerDetailViewModel.AddressPermanentZipcode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CustomerDetailViewModel.AddressPermanentZipcode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CustomerDetailViewModel.AddressCorrespondence)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CustomerDetailViewModel.AddressCorrespondence)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CustomerDetailViewModel.AddressCorrespondenceZipcode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CustomerDetailViewModel.AddressCorrespondenceZipcode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CustomerDetailViewModel.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CustomerDetailViewModel.Email)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerViewModel.Custid }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
