@model InsuranceSys.Models.StoreCustmanViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>客戶資料明細</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.StoreCustomerViewModel.CustCountry)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.StoreCustomerViewModel.CustCountry)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.StoreCustomerViewModel.ROCID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.StoreCustomerViewModel.ROCID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.StoreCustomerViewModel.PASSPOART_CODE)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.StoreCustomerViewModel.PASSPOART_CODE)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.StoreCustomerViewModel.PASSPOART_NO)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.StoreCustomerViewModel.PASSPOART_NO)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.StoreCustomerViewModel.Sex)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.StoreCustomerViewModel.Sex)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.StoreCustomerViewModel.CustNameLocal)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.StoreCustomerViewModel.CustNameLocal)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.StoreCustomerViewModel.CustNameEn)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.StoreCustomerViewModel.CustNameEn)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.StoreCustomerDetailViewModel.PhoneHomeAreaCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.StoreCustomerDetailViewModel.PhoneHomeAreaCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.StoreCustomerDetailViewModel.PhoneHome)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.StoreCustomerDetailViewModel.PhoneHome)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.StoreCustomerDetailViewModel.PhoneHomeExt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.StoreCustomerDetailViewModel.PhoneHomeExt)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.StoreCustomerDetailViewModel.PhoneCorpAreaCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.StoreCustomerDetailViewModel.PhoneCorpAreaCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.StoreCustomerDetailViewModel.PhoneCorp)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.StoreCustomerDetailViewModel.PhoneCorp)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.StoreCustomerDetailViewModel.PhoneCorpExt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.StoreCustomerDetailViewModel.PhoneCorpExt)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.StoreCustomerDetailViewModel.PhoneMobileATW)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.StoreCustomerDetailViewModel.PhoneMobileATW)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.StoreCustomerDetailViewModel.AddressPermanent)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.StoreCustomerDetailViewModel.AddressPermanent)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.StoreCustomerDetailViewModel.AddressPermanentZipcode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.StoreCustomerDetailViewModel.AddressPermanentZipcode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.StoreCustomerDetailViewModel.AddressCorrespondence)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.StoreCustomerDetailViewModel.AddressCorrespondence)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.StoreCustomerDetailViewModel.AddressCorrespondenceZipcode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.StoreCustomerDetailViewModel.AddressCorrespondenceZipcode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.StoreCustomerDetailViewModel.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.StoreCustomerDetailViewModel.Email)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.StoreCustomerViewModel.Custid }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
