@model IEnumerable<InsuranceSys.Models.StoreCustmanViewModel>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StoreCustomerViewModel.CustCountry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoreCustomerViewModel.ROCID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoreCustomerViewModel.PASSPOART_CODE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoreCustomerViewModel.PASSPOART_NO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoreCustomerViewModel.Sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoreCustomerViewModel.CustNameLocal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoreCustomerViewModel.CustNameEn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoreCustomerDetailViewModel.PhoneHomeAreaCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoreCustomerDetailViewModel.PhoneHome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoreCustomerDetailViewModel.PhoneHomeExt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoreCustomerDetailViewModel.PhoneCorpAreaCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoreCustomerDetailViewModel.PhoneCorp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoreCustomerDetailViewModel.PhoneCorpExt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoreCustomerDetailViewModel.PhoneMobileATW)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoreCustomerDetailViewModel.AddressPermanent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoreCustomerDetailViewModel.AddressPermanentZipcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoreCustomerDetailViewModel.AddressCorrespondence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoreCustomerDetailViewModel.AddressCorrespondenceZipcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoreCustomerDetailViewModel.Email)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StoreCustomerViewModel.CustCountry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreCustomerViewModel.ROCID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreCustomerViewModel.PASSPOART_CODE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreCustomerViewModel.PASSPOART_NO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreCustomerViewModel.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreCustomerViewModel.CustNameLocal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreCustomerViewModel.CustNameEn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreCustomerDetailViewModel.PhoneHomeAreaCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreCustomerDetailViewModel.PhoneHome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreCustomerDetailViewModel.PhoneHomeExt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreCustomerDetailViewModel.PhoneCorpAreaCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreCustomerDetailViewModel.PhoneCorp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreCustomerDetailViewModel.PhoneCorpExt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreCustomerDetailViewModel.PhoneMobileATW)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreCustomerDetailViewModel.AddressPermanent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreCustomerDetailViewModel.AddressPermanentZipcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreCustomerDetailViewModel.AddressCorrespondence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreCustomerDetailViewModel.AddressCorrespondenceZipcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreCustomerDetailViewModel.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.StoreCustomerViewModel.Custid }) |
                @Html.ActionLink("Details", "Details", new { id=item.StoreCustomerViewModel.Custid }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.StoreCustomerViewModel.Custid })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
