@model IEnumerable<InsuranceSys.Models.CustmanViewModel>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerViewModel.CustCountry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerViewModel.ROCID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerViewModel.PASSPOART_CODE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerViewModel.PASSPOART_NO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerViewModel.Sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerViewModel.CustNameLocal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerViewModel.CustNameEn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerDetailViewModel.PhoneHomeAreaCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerDetailViewModel.PhoneHome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerDetailViewModel.PhoneHomeExt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerDetailViewModel.PhoneCorpAreaCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerDetailViewModel.PhoneCorp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerDetailViewModel.PhoneCorpExt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerDetailViewModel.PhoneMobileATW)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerDetailViewModel.AddressPermanent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerDetailViewModel.AddressPermanentZipcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerDetailViewModel.AddressCorrespondence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerDetailViewModel.AddressCorrespondenceZipcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerDetailViewModel.Email)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerViewModel.CustCountry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerViewModel.ROCID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerViewModel.PASSPOART_CODE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerViewModel.PASSPOART_NO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerViewModel.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerViewModel.CustNameLocal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerViewModel.CustNameEn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerDetailViewModel.PhoneHomeAreaCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerDetailViewModel.PhoneHome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerDetailViewModel.PhoneHomeExt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerDetailViewModel.PhoneCorpAreaCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerDetailViewModel.PhoneCorp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerDetailViewModel.PhoneCorpExt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerDetailViewModel.PhoneMobileATW)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerDetailViewModel.AddressPermanent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerDetailViewModel.AddressPermanentZipcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerDetailViewModel.AddressCorrespondence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerDetailViewModel.AddressCorrespondenceZipcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerDetailViewModel.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.CustomerViewModel.Custid }) |
                @Html.ActionLink("Details", "Details", new { id=item.CustomerViewModel.Custid }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.CustomerViewModel.Custid })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
